# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
image-study.iml
src/test/
target/classes/card.jpg
target/classes/imgs/
target/classes/lib/opencv/x64/
target/classes/lib/opencv/x86/
target/classes/log4j.properties
target/classes/tessdata/
target/generated-sources/
